body, html {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.clearcontent:after {
	content: '.';
	visibility: hidden;
}

main {
	width: 909px;
	height: 1310px;
	margin: 0 auto;
	margin-top: 23px;
}

main>header {
	width: 100%;
	padding-left: 8px;
	height: 27px;
	line-height: 27px;;
}

main>header>p.tel_number {
	color: #5e696d;
	font-family: Arial;
	padding-right: 17px;
	float: left;
	font-size: 18px;
}

main>header>p.tel_number>img {
	vertical-align: middle;
}

main>header>p.tel_number>span {
	vertical-align: middle;
	font-family: Arial;
	margin-left: -2px;
}

main>header>p.tel_number>span>span#first {;
	margin-left: -4px;
	
}

main>header>p.tel_number>span>span#second {
	padding-left: 4px;

}

main>header section.login {
	border-radius: 3px;
	float: left;
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#1e6383 0%,#0d365a 100%);
	width: 495px;
	height: 24px;
	margin-left: 1px;
}

main>header section.login img {
	float: left;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 5px;
}

main>header section.login input[type=text] {
	float: left;
	max-width: 113px;
	max-height: 16px;
	box-sizing: border-box;
	padding-left: 0px;
	margin-top: 3px;
	margin-right: 7px;
}

main>header section.login .vl {
	float: left;
	width: 1px;
	height: 40%;
	background: white;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 7px;
}

main>header section.login a.regitration {
	font-size: 11px;
	float: left;
	color: white;
	padding-left: 2px;
	position: relative;
    bottom: 2px;
}

main>header section.login a.forget_password {
	color: #bfbfbf;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 19px;
	float: left;
	text-transform: lowercase;
	margin-top: -2px;
}

main>header section.common_links {
	float: left;
	width: 76px;
	border: 1px solid #c1c8cb;
	margin-left: 17px;
	height: 20px;
	border-radius: 12px;
}

main>header section.common_links a {
	float: left;
	width: 33%;
	height: 100%;
	display: block;
	position: relative;
}

main>header section.common_links img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

main>header section.common_links img#home_icon {
	top: -4px;
}

main>header section.common_links img#scheme_icon {
	left: -6px;
}

main>header section.common_links img#letter_icon {
	right: 11px;
	top: -1px;
}

section.menu>img {
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 5px;
}

section.menu div.main_menu {
	width: 100%;
	height: 35px;
	border-radius: 4px;
	background: black;
	margin-bottom: 9px;
}

section.menu div.main_menu nav.left_list {
	float: left;
	line-height: 34px;
	height: 34px;
	margin-left: 125px;
}

section.menu div.main_menu nav.left_list a {
	text-transform: uppercase;
	font-size: 13px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	color: #b1bcc0;
	padding-right: 16px;
	padding-left: 16px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

section.menu div.main_menu nav.left_list a:hover {
	background: blue;
	border-radius: 17px;
	vertical-align: middle;
	color: white;
}

section.menu div.main_menu div.right_list {
	float: right;
	margin-right: 13px;
}

section.menu div.main_menu div.right_list nav.right_list {
	float: left;
	height: 34px;
	line-height: 34px;
}

section.menu div.main_menu div.right_list nav.right_list * {
	vertical-align: middle;
	display: inline-block;
}

section.menu div.main_menu div.right_list nav.right_list p {
	color: #929b9f;
	font-size: 10px;
}

section.menu div.main_menu div.right_list nav.right_list span {
	color: #0d5a8f;
}

section.menu section.search {
	width: 100%;
	height: 132px;
	margin-bottom: 16px;
}

section.menu section.search .search_auto_box {
	float: left;
	width: 415px;
	height: 100%;
	border-radius: 15px;
	margin-right: 16px;
	margin-left: 3px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
}

section.menu section.search .search_tires_box {
	margin-right: 11px;
	float: left;
	width: 192px;
	height: 100%;
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
}

section.menu section.search .search_disks_box {
	float: left;
	width: 266px;
	height: 100%;
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
	box-shadow: 3px 3px 5px 1px rgba(153,153,153,1);
}

.right_disk_column {
	float: left;
	width: 55%;
}

.right_disk_column .text {
	width: 74px;
	float: left;
	margin-top: 4px;
	margin-left: 16px;
	margin-top: 11px;
}

.right_disk_column .inline {
	display: inline-block;
}

.right_disk_column .grey_colored {
	font-size: 8px;
	color: #77858b;
}

.right_disk_column .selects {
	width: 56px;
	float: right;
	margin-top: 7px;
}

.right_disk_column .selects select {
	margin-bottom: 15px;
}

.right_disk_column .quantity {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 17px;
	width: 50px;
	background: url(../img/select_arrow.png) 100% / 45% no-repeat;
}

.right_disk_column .diameter,
.right_disk_column .diameter_holes {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 17px;
	width: 56px;
	background: url(../img/select_arrow.png) 100% / 39% no-repeat;
}

.left_disk_column {
	width: 75px;
	float: right;
	border-left: 1px solid #bdc6ca;
	margin-right: 18px;
	padding-left: 11px;
	margin-top: -8px;
}

.left_disk_column .selection_text {
	margin-bottom: 4px;
}

p.ET {
	margin-top: 5px;
}

select.DCO,
select.ET {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	height: 17px;
	width: 56px;
	background: url(../img/select_arrow.png) 100% / 39% no-repeat;
}

.search_disks_position {
	position: relative;
	right: 3px;
}

.disks_header {
	position: relative;
	left: 20px;
	top: 8px;	
	float: left;
	width: 20%;
	color: #154468;
	font-weight: bold;
	font-size: 12px;
}

.tires_header {
	position: relative;
	right: -23px;
	top: 4px;
	float: right;
	width: 20%;
	color: #154468;
	font-weight: bold;
	font-size: 12px;
}

.search_by_auto_header {
	position: relative;
	top: 4px;
	margin: 0 auto;
	width: 50%;
	color: #154468;
	font-weight: bold;
	font-size: 14px;
	left: 14px;
}

.search_by_auto_form {
	margin-top: 10px;
}

.search_by_auto_form .search_disks_form {
	float: left;
	margin-left: 16px;
}

.search_form .text {
	width: 70px	;
	float: left;
	margin-top: 4px	;
}

.search_form .selects {
	width: 100px;
	float: right;
	margin-left: -2px;
}

.search_form .selects select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	height: 17px;
	margin-bottom: 6px;
	background: url(../img/select_arrow.png) 100% / 20% no-repeat;
}

.search_form .selects select.year_auto {
	background: url(../img/select_arrow.png) 100% / 36% no-repeat;
}

.search_form .selects select::-ms-expand {
    display: none;
}

.selection_text {
	display: block;
	font-family: Arial, sans-serif;
	font-size: 10px;
	margin-bottom: 7px;
}

.search_form .year_auto {
	width: 56px;
}

.search_form .auto_type,
.search_form .model_auto,
.search_form .complect {
	width: 100px;
}

.search_form .grey_colored {
	font-size: 8px;
	color: #77858b;
}

.search_form .new_line {
	display: block;
}

.search_by_auto_form .search_tires_form {
	float: right;
	margin-right: 20px;
}

.submit_link {
	font-family: Arial, sans-serif;
	font-style: italic;
  	background-color: transparent;
  	text-transform: uppercase;
  	color: #154467;
  	cursor: pointer;
  	width: 56px;
  	height: 17px;
	border: none;
	float: right;
	font-size: 10px;
	text-decoration: underline;
}

.position_search_by_auto {
	position: relative;
  	right: 20px;
	bottom: 3px;
}

.submi_link:focus {
  outline: none;
}

.search_tires_header,
.search_disks_header {
	margin: 0 100% 0 0;
	font-size: 12px;
	text-transform: uppercase;
}

.search_by_tire_form .text {
	width: 40px;
	float: left;
	margin-left: 13px;
	margin-top: 18px;
}

.search_by_tire_form .selection_text {
	margin-bottom: 11px;
}

.search_by_tire_form .selects .size_upper,
.search_by_tire_form .selects .size_below {
	width: 50px;
	background: url(../img/select_arrow.png) 100% / 39% no-repeat;
}

.search_by_tire_form .selects {
	width: 133px;
	margin-top: 11px;
}

.search_by_tire_form .selects .R {
	width: 41px;
	background: url(../img/select_arrow.png) 100% / 43% no-repeat;
}

.search_by_tire_form .selects input[type=checkbox] {
	display: none;
}

.search_by_tire_form .selects input[type=checkbox] + span {
	display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #345b79;
    box-shadow: inset 1px 1px 0px 0px #afafaf;
    margin-right: 2px;
}

.search_by_tire_form .selects input[type=checkbox]:checked + span:before {
	content: '✓';
    display: block;
    width: 7px;
    line-height: 8px;
    text-align: center;
}

.search_by_tire_form .selects input[type=checkbox] + span + span {
	font-size: 12px;
}

.search_tires_position {
	float: right;
	position: relative;
	bottom: 3px;
    right: 10px;
}

section.catalog {
	overflow: hidden;
	margin-bottom: 27px;
}

section.catalog>div {
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

section.catalog div.left_catalog,
section.catalog div.right_catalog {
	width: 181px;
	float: left;
}

section.catalog div.right_catalog {
	margin-left: 7px;
}

section.catalog div.left_catalog div.product,
section.catalog div.right_catalog div.product {
	border: 1px solid #909ba0;
	height: 25px;
	line-height: 25px;
	border-radius: 12px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 18px;
	margin-top: 3px;
	margin-left: 6px;
	width: 178px;
}

section.catalog div.left_catalog div.product *,
section.catalog div.right_catalog div.product * {
	float: left;
}

section.catalog div.left_catalog div.product>img,
section.catalog div.right_catalog div.product>img {
	margin-left: 1px;
	margin-top: 1px;
}

section.catalog div.left_catalog div.product>p,
section.catalog div.right_catalog div.product>p {
	margin-top: 1px;
	letter-spacing: 0.5px;
	padding-left: 3px;
}

section.catalog div.left_catalog dt,
section.catalog div.right_catalog dt {
	width: 137px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #a6afb3;
	border-radius: 12px;
	margin-bottom: 0px;
	margin-top: -4px;;
}

section.catalog div.right_catalog dt {
	margin-left: 16px;
}

section.catalog div.left_catalog dt *,
section.catalog div.right_catalog dt * {
	float: left;
}

section.catalog div.left_catalog dt>img,
section.catalog div.right_catalog dt>img {
	margin-left: 6px;
	margin-top: 1px;
}

section.catalog div.left_catalog dt>p,
section.catalog div.right_catalog dt>p {
	font-size: 14px;
	margin-top: 1px;
	margin-left: 5px;
	color: #114165;
	text-transform: uppercase;
}

section.catalog div.left_catalog dd,
section.catalog div.right_catalog dd {
	display: list-item;
	list-style-type: circle;
	font-size: 13px;
	line-height: 2;
	margin-left: 53px;
}

section.catalog div.right_catalog dl {
	margin-bottom: 12px;
}

section.catalog div.right_catalog dd {
	margin-left: 23px;
	list-style-type: none;
	font-size: 13px;
	line-height: 2;
}

section.catalog div.left_catalog dd>a {
	position: relative;
	left: -6px;
	color: #465961;
}

section.catalog div.right_catalog dd input[type=checkbox] {
	display: none;
}

section.catalog div.right_catalog dd input[type=checkbox] + span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #345b79;
	box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
	border-radius: 2px;
	margin-right: 15px;
	margin-left: 5px;
}

section.catalog div.right_catalog dd input[type=checkbox]:checked + span:before {
	content: '✓';
	display: block;
	width: 7px;
	line-height: 8px;
	text-align: center;
}

section.catalog div.right_catalog input[type=submit] {
	background: #0e3a5e;
	height: 26px;
	width: 80px;
	margin-left: 28px;
	color: white;
	border-radius: 12px;
	border: none;
	margin-top: 6px;
}

section.catalog div.left_catalog dd>a:hover {
	color: #0c3256;
	text-decoration: underline;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	font-family: "Arial Bold", sans-serif;
}

section.catalog div.tires {
	width: 527px;
	float: left;
	background: -webkit-linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	background: -moz-linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	background: -o-linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	background: -ms-linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	border-radius: 2px;
	margin-left: 8px;
}

section.catalog div.tires div.tires_internal {
	margin-left: 24px;
	margin-top: 15px;
	margin-bottom: 30px;
}

section.catalog div.tires figure {
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 48px;
}

section.catalog div.tires figure figcaption>p.head {
	font-size: 12px;
	text-transform: capitalize;
}

section.catalog div.tires figure figcaption>p.head>span {
	text-transform: capitalize;
	font-size: 15px;
	color: #206988;
	font-weight: bold;
}

section.catalog div.tires figure.left {
	margin-left: 0;
}

section.catalog div.tires figure div {
	width: 137px;
	height: 127px;
	background: white;
	border-radius: 5px;
}

section.catalog div.tires figure div p {
	padding-top: 4px;
}

section.catalog div.tires figure div p a {
	font-size: 17px;
	color: #114165;
	font-weight: bold;
	font-style: italic;
	font-family: "Arial";
	position: relative;	
}

section.catalog div.tires figure div p a img {
	display: block;
	margin: 0 auto;
	padding-bottom: 13px;
}

section.catalog div.tires figure div p span {
	font-size: 12px;
}

section.catalog div.tires figure div p a:visited {
	color: #95a8b1;
}

section.catalog div.tires figure div p a:hover img {
	padding-bottom: 20px;
}

footer div.partners {
	text-align: center;
}

footer div.partners span {
	margin-left: -18px;
}

footer div.partners img {
	padding-left: 8px;
}

footer div.partners {
	margin-bottom: 27px;
}

footer div.footer_links {
	height: 100px;
	width: 100%;
	background: #213a4d;
	text-align: center;
}

footer div.footer_links ul {
	padding-top: 5px;
	padding-left: 22px;
}

footer div.footer_links ul li{
	display: inline;
}

footer div.footer_links ul li>a {
	color: white;
	padding-left: 12px;
	padding-right: 12px;
}

footer div.footer_links ul li:before {
	content: "|";
	color: white;
}

footer div.footer_links ul li:first-child:before {
	content: "";
}

footer div.footer_links ul li>a {
	font-size: 12px;
}

footer div.footer_links ul li>a:hover {
	color: #52abcb;
}

footer div.footer_links p {
	margin-top: 19px;
	color: #7f4740;
	font-size: 10px;
}