body, html {
	font-family: "Lucida Sans Unicode", Arial, sans-se;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.clearcontent:after {
	content: '.';
	visibility: hidden;
}

main {
	width: 909px;
	height: 1310px;
	margin: 0 auto;
	margin-top: 23px;
}

main>header {
	width: 100%;
	padding-left: 8px;
	height: 27px;
	line-height: 27px;;
}

main>header>p.tel_number {
	color: #5e696d;
	font-family: Arial;
	padding-right: 17px;
	float: left;
	font-size: 18px;
}

main>header>p.tel_number>img {
	vertical-align: middle;
}

main>header>p.tel_number>span {
	vertical-align: middle;
	font-family: Arial;
	margin-left: -2px;
}

main>header>p.tel_number>span>span#first {;
	margin-left: -4px;
	
}

main>header>p.tel_number>span>span#second {
	padding-left: 4px;

}

main>header section.login {
	border-radius: 3px;
	float: left;
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#1e6383 0%,#0d365a 100%);
	width: 495px;
	height: 24px;
	margin-left: 1px;
}

main>header section.login img {
	float: left;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 5px;
}

main>header section.login input[type=text] {
	float: left;
	max-width: 113px;
	max-height: 16px;
	box-sizing: border-box;
	padding-left: 0px;
	margin-top: 3px;
	margin-right: 7px;
}

main>header section.login .vl {
	float: left;
	width: 1px;
	height: 40%;
	background: white;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 7px;
}

main>header section.login a.regitration {
	font-size: 11px;
	float: left;
	color: white;
	padding-left: 2px;
	padding-top: -1px;
}

main>header section.login a.forget_password {
	color: #bfbfbf;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 19px;
	float: left;
	text-transform: lowercase;
	margin-top: 0px;
}

main>header section.common_links {
	float: left;
	width: 76px;
	border: 1px solid #c1c8cb;
	margin-left: 17px;
	height: 20px;
	border-radius: 12px;
}

main>header section.common_links a {
	float: left;
	width: 33%;
	height: 100%;
	display: block;
	position: relative;
}

main>header section.common_links img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

main>header section.common_links img#home_icon {
	top: -4px;
}

main>header section.common_links img#scheme_icon {
	left: -6px;
}

main>header section.common_links img#letter_icon {
	right: 11px;
	top: -1px;
}

section.menu>img {
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 5px;
}

section.menu div.main_menu {
	width: 100%;
	height: 34px;
	border-radius: 4px;
	background: black;
	margin-bottom: 14px;
}

section.menu div.main_menu nav.left_list {
	float: left;
	line-height: 34px;
	height: 34px;
	margin-left: 125px;
}

section.menu div.main_menu nav.left_list a {
	text-transform: uppercase;
	font-size: 13px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	color: #b1bcc0;
	padding-right: 16px;
	padding-left: 16px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

section.menu div.main_menu nav.left_list a:hover {
	background: blue;
	border-radius: 17px;
	vertical-align: middle;
	color: white;
}

section.menu div.main_menu div.right_list {
	float: right;
	margin-right: 13px;
}

section.menu div.main_menu div.right_list nav.right_list {
	float: left;
	height: 34px;
	line-height: 34px;
}

section.menu div.main_menu div.right_list nav.right_list img {
}

section.menu div.main_menu div.right_list nav.right_list * {
	vertical-align: middle;
	display: inline-block;
}

section.menu div.main_menu div.right_list nav.right_list p {
	color: #929b9f;
	font-size: 10px;
}

section.menu div.main_menu div.right_list nav.right_list span {
	color: #0d5a8f;
}

section.menu section.search {
	width: 100%;
	height: 132px;
	margin-bottom: 16px;
}

section.menu section.search .search_auto {
	float: left;
	width: 414px;
	height: 100%;
	background: grey;
	margin-right: 16px;
	margin-left: 3px;
}

section.menu section.search .search_tires {
	margin-right: 11px;
	float: left;
	width: 192px;
	background: #c1c1c1;
	height: 100%;
}

section.menu section.search .search_disks {
	float: left;
	width: 268px;
	background: #c9c9c9;
	height: 100%;
}

section.catalog {
	overflow: hidden;
	margin-bottom: 40px;
}

section.catalog>div {
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

section.catalog div.left_catalog,
section.catalog div.right_catalog {
	width: 181px;
	float: left;
}

section.catalog div.right_catalog {
	margin-left: 7px;
}

section.catalog div.left_catalog div.product,
section.catalog div.right_catalog div.product {
	border: 1px solid #909ba0;
	height: 25px;
	line-height: 25px;
	border-radius: 12px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

section.catalog div.left_catalog div.product *,
section.catalog div.right_catalog div.product * {
	float: left;
}

section.catalog div.left_catalog div.product>img,
section.catalog div.right_catalog div.product>img {
	margin-left: 3px;
	margin-top: 1px;
}

section.catalog div.left_catalog div.product>p,
section.catalog div.right_catalog div.product>p {
	margin-top: 1px;
	margin-left: 5px;
}

section.catalog div.left_catalog dt,
section.catalog div.right_catalog dt {
	width: 148px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #a6afb3;
	border-radius: 12px;
	margin-bottom: 4px;
}

section.catalog div.right_catalog dt {
	margin-left: 13px;
}

section.catalog div.left_catalog dt *,
section.catalog div.right_catalog dt * {
	float: left;
}

section.catalog div.left_catalog dt>img,
section.catalog div.right_catalog dt>img {
	margin-left: 3px;
	margin-top: 1px;
}

section.catalog div.left_catalog dt>p,
section.catalog div.right_catalog dt>p {
	font-size: 14px;
	margin-top: 1px;
	margin-left: 5px;
	color: #114165;
	text-transform: uppercase;
}

section.catalog div.left_catalog dd,
section.catalog div.right_catalog dd {
	display: list-item;
	list-style-type: circle;
	font-size: 13px;
	line-height: 1.7;
	margin-left: 49px;
}

section.catalog div.right_catalog dd {
	margin-left: 19px;
	list-style-type: none;
	font-size: 13px;
	line-height: 1.7;
}

section.catalog div.left_catalog dd>a {
	position: relative;
	left: -6px;
	color: #465961;
}

section.catalog div.right_catalog dd input[type=checkbox] {
	display: none;
}

section.catalog div.right_catalog dd input[type=checkbox] + span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #345b79;
	box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
	border-radius: 2px;
	margin-right: 15px;
	margin-left: 5px;
}

section.catalog div.right_catalog dd input[type=checkbox]:checked + span:before {
	content: '✓';
	display: block;
	width: 7px;
	line-height: 8px;
	text-align: center;
}

section.catalog div.right_catalog input[type=submit] {
	background: #0e3a5e;
	height: 26px;
	width: 80px;
	margin-left: 22px;
	color: white;
	border-radius: 12px;
	border: none;
	margin-top: 22px;
}

section.catalog div.left_catalog dd>a:hover {
	color: #0c3256;
	text-decoration: underline;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	font-family: "Arial Bold", sans-serif;
}

section.catalog div.tires {
	width: 527px;
	float: left;
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#e4e7e8 0%,#95a8b1 100%);
	border-radius: 2px;
	margin-left: 6px;
}

section.catalog div.tires div.tires_internal {
	margin-left: 24px;
	margin-top: 18px;
	margin-bottom: 30px;
}

section.catalog div.tires figure {
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 44px;
}

section.catalog div.tires figure figcaption>p.head {
	font-size: 12px;
	text-transform: capitalize;
}

section.catalog div.tires figure figcaption>p.head>span {
	text-transform: capitalize;
	font-size: 15px;
	color: #206988;
	font-weight: bold;
}

section.catalog div.tires figure.left {
	margin-left: 0;
}

section.catalog div.tires figure a {
	display: block;
	text-align: center;
}

section.catalog div.tires figure div {
	width: 137px;
	height: 127px;
	background: white;
	border-radius: 5px;
}

section.catalog div.tires figure div p {
	padding-top: 4px;
}

section.catalog div.tires figure div p img {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}


section.catalog div.tires figure div p a {
	font-size: 17px;
	color: #114165;
	font-weight: bold;
	font-style: italic;
	font-family: "Arial";
}

section.catalog div.tires figure div p a:visited {
	color: #37748f;
}

section.catalog div.tires figure div p a span {
	font-size: 12px;
}

footer div.partners {
	text-align: center;
}

footer div.partners span {
	margin-left: -18px;
}

footer div.partners img {
	padding-left: 8px;
}

footer div.partners {
	margin-bottom: 27px;
}

footer div.footer_links {
	height: 100px;
	width: 100%;
	background: #213a4d;
	text-align: center;
}

footer div.footer_links ul {
	padding-top: 15px;
}

footer div.footer_links ul li{
	display: inline;
}

footer div.footer_links ul li>a {
	color: white;
	padding-left: 12px;
	padding-right: 12px;
}

footer div.footer_links ul li:before {
	content: "|";
	color: white;
}

footer div.footer_links ul li:first-child:before {
	content: "";
}

footer div.footer_links ul li>a {
	font-size: 12px;
}

footer div.footer_links ul li>a:hover {
	color: #52abcb;
}

footer div.footer_links p {
	margin-top: 19px;
	color: #7f4740;
	font-size: 10px;
}