@import "mixins";

$content-size: 1160px;

$top-height: 36px;

$site-navigation-height: 55px;
$site-navigation-box-color: #2a2d32;
$site-navigation-text-hover-color: #f4b60d;
$site-navigation-link-first-color: #248cec;
$site-navigation-link-text-color: white;

$site-navigation-search-box-height: 35px;
$site-navigation-search-line-width: 240px;
$site-navigation-search-line-color: #35383c;
$site-navigation-box-border-color: #181a1d;
$site-navigation-search-icon-color: #595b5e;

$slider-height: 470px;
$slider-pagination-color: white;
$slider-pagination-active-color: #001d1d;
$slider-pagination-border-color: white;

$read-more-number-size: 90px;
$read-more-number-color: #efeff0;
$read-more-text-left-margin: 120px;
$read_more_article_header_size:20px;
$read_more_article_link_size: 13px;
$read_more_article_link_color_hover: #248cec;

@include font-face(Ubuntu, "fonts/dist/", ubuntu-l-webfont, normal, normal);
@include font-face(Ubuntu, "fonts/dist/", ubuntu-m-webfont, bold, normal);

body {
	font-family: Ubuntu, Arial, sans-serif;
}

nav {
	list-style: none;
}

%center {
	width: $content-size;
	margin: 0 auto;
}

%capitalise_bold {
	text-transform: capitalize;
	font-weight: bold;
}

%clearfix {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

