html {
	background: url(../img/Asia_background.png) no-repeat center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
  	font-family: Tahoma;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.inline { 
    display: inline-block; 
}

header {
	overflow: hidden;
}

.logo {
	position: relative;
	background-color: green;
	float: left;
    width: 276px;
    height: 147px;
}

/* resize images */
.logo img {
    width: 100%;
    height: 147px;
}

.logo p {
	font-size: 0.8em;
	color: white;
	position: absolute;
	bottom: 10px;
	margin: 0px 0 0 -25%;
  	left: 50%;
}

header .contacts {
	float: right;
	height: 147px;
	width: 276px;
	position: relative;
	background-color: blue;
}


header .contacts .text {
	position: absolute;
	width: auto;
	bottom: 10px;
	right: 0;
}

header .contacts p span {
	font-size: 1.1em;
}
header .contacts p {
	line-height: 1.5;
	color: white;
	font-size: 0.7em;
}


@media screen and (max-width:770px) {
	header .contacts {
		width: 117px;
		float:right;
	}

}


	
@media screen and (max-width:530px) {
	header {
		text-align: center;
	}


	.inline {
		display: inline-block;
		float: none;
		margin-top: -2px;
		margin-bottom: -2px;
	}


	header .contacts {
		width: 276px;
		float: none;
	}

}



