@font-face {
    font-family: 'Legue Gohic Regular';
    src: url('../fonts/Gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/Gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/Gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/Gothic/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/Regular/opensans-regular-webfont.eot');
    src: url('../fonts/OpenSans/Regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/Regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/Regular/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans/Regular/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.eot');
    src: url('../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.make_invisible {
	position: absolute;
	z-index: -10;
}

.center_content {
	position: relative;
	margin: 0 auto;
	height: 100%;
}


/***********************HEADER STYLES COMMON***********************/
header {
	position: relative;
	width: 100%;
	height: 100%;
    background: url(../img/Header_bg_optimized.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

/*LOGO*/
.logo_word {
	font-family: 'Legue Gohic Regular', Arial, sans-serif;
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px black;
	line-height: 38px;
}

.logo_word span {
	text-shadow: none;
	color: #553c61;
}

.header__logo_position {
	float: left;
	margin-top: 70px;
}

.header__links_position {
	float: right;
	margin-top: 70px;
}

/*LINKS*/
.site_navigation a {
	font-family: 'Legue Gohic Regular', Arial, sans-serif;
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0px 1px 1px black;
}

.site_navigation li {
	float: left;
	margin-left: 50px;
}

.site_navigation li:first-child, nav span:first-child {
	margin-left: 0px;
}

.site_navigation a:hover {
	border-bottom: 2px solid #edbfff;
}

/*SLIDER*/
.slider_bg {
	background: rgba(0,0,0, 0.2);
	width: 100%;
	margin-top: 172px;
	height: 400px;
	border-bottom: 1px solid black;
	margin-bottom: 170px;
}

.slider__article_position {
	width: 55%;
	float: left;
}

/*ARTICLE*/
.article__main_header {
	font-family: 'Legue Gohic Regular', Arial, sans-serif;
	color: white;
	font-size: 46px;
	text-transform: capitalize;
	line-height: 46px;
}

.article__header {
	font-family: 'Legue Gohic Regular', Arial, sans-serif;
	color: #edbfff;
	font-size: 32px;
	line-height:32px;
	text-transform: uppercase;
}

.article__text {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: white;
	line-height: 1.4;
	padding-top: 10px;
	text-shadow: 0px 1px 1px black;
}

.slider__image_position {
	position: relative;
	float: right;
	padding-right: 76px;
	bottom: 22px;
}

/*SLIDER BUTTONS*/
.slider_navigation span {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/Nav_buttons.png);
}

.slider__buttons_position {
	position: absolute;
	bottom: 60px;
	right: 166px;
}

.slider_navigation span.active {
	background-position: -18px 0;
}


/*****************************ABOUT COMPANY SECTION**************************/
.about_company_bg {
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#392b40 0%,#765384 100%);
	width: 100%;
	height: 100%;
}

.about_company__centering {
	margin-top: 82px;
	margin-bottom: 72px;
}

.about_company__icons {
	display: block;
	position: absolute;
	top: 14px;
	left: 12px;
	width: 24px;
	height: 25px;
	background: url(../img/blog_icons.png);
}

/*ARTICLE TEXT*/
.about_company__article {
	margin-left: 24px;
	float: right;
	padding-left: 25px;
}

.about_company_column_modifier {
	padding-right: 30px;
}

.about_company_article__header_modifier {
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.about_company_article__text_modifier {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.screwdriver_icon {
	background-position: 0 0;
}

.comment_icon {
	background-position: -25px 0;
	width: 28px;
}

.music_icon {
	background-position: -53px 0;
}

/*LINKS*/
.about_company_navigation_modifier {
	float: right;
}

.about_company_navigation_modifier a {
	font-size: 18px;
}

.about_company_navigation_modifier a:hover {
	border-bottom: none;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}


/**************************************UPDATES SECTION****************************/
/*COMMENTS*/
.updates_bg {
	height: 100%;
	width: 100%;
	background: #f9f9f9;
}

.updates_centering {
	padding-top: 100px;
	padding-bottom: 93px;
}

.author_icon {
	position: absolute;
	top: 18px;
	left: 0;
}

.author_comment_position {
	padding: 33px 27px 62px 33px;
}

.article_header_modifier span {
	color: #454545;
}

.comments_article__text_modifier {
	text-shadow: none;
	color: #454545;
}

.comments_navigation span {
	width: 18px;
	height: 18px;
	background: url(../img/Nav_buttons_black.png);
}
.comments_navigation {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 84px;
	margin-top: 5px;
}

/*UPDATES*/
.author_comment_bg {
	background: url(../img/Update.png) no-repeat center center;
	background-size: 100% 100%;
	margin-left: 10px;
	width: 100%;
}

.recent_updates {
	margin-top: 33px;
	padding-left: 45px;
}

.post {
	margin-top: 22px;
}

.post img {
	position: absolute;
}

.article_recent_update {
	float: left;
	margin-left: 66px;
}

.updates_article__text_modifier {
	color: #454545;
	font-weight: bold;
	padding-top: 0;
	font-size: 14px;
	text-shadow: none;
}

.updates_article__text_modifier_2 {
	color: #454545;
	font-weight: normal;
	padding-top: 0;
	font-size: 14px;
	text-shadow: none;
}

.recent_update_navigation {
	float: right;
	margin-top: 29px;
}

.recent_update_navigation a {
	font-size: 18px;
	color: #454545;
	text-shadow: none;
}

.recent_update_navigation a:hover {
	border-bottom: none;
}

/*LOGOS*/
.logos_bg {
	width: 100%;
	height: 122px;
	line-height: 122px;
	text-align: center;
	background: #f9f9f9;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.logos {
	display: inline-block;
	vertical-align: middle;
}

.logos li {
	display: block;
	float: left;
	margin-left: 65px;
}

.logos span {
	display: block;
}

.logos li:first-child {
	margin-left: 0;
}

.LOGO {
	background: url(../img/Logos.png) no-repeat;
}

.logo_1 {
	background-position: 0 0;
	height: 63px;
	width: 70px;
}

.logo_2 {
	background-position: -71px 0;
	height: 63px;
	width: 70px;
}

.logo_3 {
	background-position: -142px 0;
	height: 63px;
	width: 67px;
}

.logo_4 {
	background-position: -208px 0;
	height: 63px;
	width: 52px;
}

.logo_5 {
	background-position: -261px 0;
	height: 63px;
	width: 104px;
}

.logo_6 {
	background-position: -364px 0;
	height: 63px;
	width: 84px;
}

/***********************************COMMENTS********************************/
.comments {
	height: 397px;
	width: 100%;
	position: relative;
}

.comments_bg {
	height: 397px;
	width: 100%;
	background: #ececec;
	position: absolute;
	z-index: 2;
}

.comments_centering {
	position: relative;
	top: 50%;
    transform: translate(0,-50%);
}

.comment_style_logo {
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.comment_style_logo span {
	color: #b9b9b9;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.white_shadow {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.copyright {
	font-family: Georgia, Arial, sans-serif;
	color: #c5c5c5;
	font-style: italic;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.article__text_comments_text {
	color: #787878;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.article__header_comments_header {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #454545;
}

.figured_bottom_shadow {
	height: 100%;
}

.shadow_effect:after, .shadow_effect:before {
	content: "";
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    top: 50%;
    bottom: 0;
    left: 0px;
    width: 100%;
    border-radius: 300px / 6px;
}

/********************************FOOTER*****************************/
footer {
	width: 100%;
	height: 114px;
	line-height: 114px;
	vertical-align: middle;
	background: url(../img/footer_bg.jpg) no-repeat center center;
	background-size: cover;
}

.footer_content_centering {
	height: 100%;
}

.footer_links {
	display: inline-block;
	height: 100%;
}

.design {
	color: white;
	float: right;
	text-shadow: 0px 1px 1px black;
}

.design span {
	font-weight: bold;
}


/*MEDIA QUERY FOR SCREENS MORE 960px*/
@media screen and (min-width: 960px) {
	.center_content {
		max-width: 960px;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px){
	.center_content {
		margin: 0 auto;
		max-width: 768px;
	}

	.header__links_position {
		float: left;
		margin-top: 38px;
		clear: both;
	}

	header {
		height: 800px;
	}

	.slider_bg {
		margin-top: 80px;
	}

	.site_navigation li {
		margin-left: 42px;
	}

	.slider__text_size {
		width: 45%;
	}

	.logos span {
		margin-left: 54px;
	}

	footer {
		height: 200px;
	}

	.footer_links {
		display: block;
		position: relative;
    	top: -42px;
	}

	.footer_links a {
		font-size: 20px;
	}

	.design {
		transform: none;
	}


}

@media screen and (min-width: 480px) and (max-width: 767px) {

	.text_centering {
		text-align: center;
	}

	.center_content {
		margin: 0 auto;
		max-width: 480px;
	}

	header {
		height: 549px;
	}

	.header__logo_position {
		float: none;
		margin-top: 70px;
	}

	.logo__word {
		text-align: center;
	}
	
	.header__links_position {
		position: absolute;
		z-index: 1;
		margin-top: 23px;
		width: 242px;
		transform: translate(50%, 0);
	}

	.site_navigation {
		text-align: center;
	}

	.site_navigation li {
		margin-left: 0px;
		float: none;
		background: rgba(59, 46, 67, 0.5);
		border-bottom: 1px solid #523e5a;
	}

	.site_navigation li:first-child {
		border-radius: 7px 7px 0 0;
	}

	.site_navigation li:last-child,  
	.site_navigation li:last-child a{
		border-radius: 0 0 7px 7px;
	}
	
	.site_navigation li:first-child a {
		height: 51px;
		line-height: 51px;
		border-radius: 7px 7px 0 0;
	}

	.site_navigation a {
		display: block;
		width: 242px;
		height: 42px;
		line-height: 42px;
	}

	.site_navigation a:hover {
		background: #2b2230;
		border-bottom: 2px solid #edbfff;

	}

	.slider_bg {
		height: 246px;
		margin-top: 95px;
	}

	.screen_font_size {
		font-size: 16px;
	}

	.article__main_header {
		font-size: 36px;
	}

	.slider__text_size {
		margin-left: 42px;
		width: 45%;
	}

	.slider__image_position {
		right: 30px;
		width: 192px;
		height: 304px;
		bottom: 8px;
	}

	.iphone {
		height: 100%;
	}

	.slider__buttons_position  {
		transform: translate(50%, 0);
		right: 50%;
	}

	.about_company_bg {
		height: 100%;
		padding-top: 82px;
		padding-bottom: 70px;
	}

	.updates_bg  {
		height: 100%;
		padding-bottom: 90px;
		padding-top: 71px;
	}

	.vertical_centering {
		top: 0;
		transform: none;
	}

	.about_company_navigation  a, 
	.recent_update_navigation a {
		font-family: 'Legue Gohic Regular', Arial, sans-serif;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
    	text-decoration: none;
	}

	.about_company_navigation a:hover {
		border-bottom: none;
    	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	}

	.full_width {
		width: 100%;
	}

	.recent_updates_position {
		margin-top: 71px;
	}

	.recent_update_navigation a {
		color: #454545;
	}

	.logos_bg {
		height: 100%;
	}

	.logos {
		padding-top: 36px;
		display: block;
    	width: 320px;
    	margin: 0 auto;
    	transform: none;
    	left: 0;
    	padding-bottom: 14px;
	}

	.logos span {
		margin-left: 56px;
		margin-bottom: 26px;
	}

	.logos span.left {
		margin-left: -13px;
	}

	.logos span.right {
		margin-right: -24px;
	}

	.comments_bg {
		height: auto;
	}

	.pingbuller_copyright {
		padding-top: 83px;
		padding-bottom: 65px;
	}

	.div_new_categories {
		padding-top: 65px;
		padding-bottom: 90px;
	}

	.comments {
		height: 847px;
	}

	footer {
		height: auto;
	}

	.design {
		float: none;
		transform: none;
		font-size: 14px;
		padding-top: 40px;
		padding-bottom: 88px;
	}

	.footer_links {
		padding-top: 48px;
	}

	.footer_links li{
		float: left;
		padding-left: 24px;
	}

	.footer_links a {
		font-family: 'Legue Gohic Regular', Arial, sans-serif;
    	font-size: 18px;
    	color: white;
    	text-transform: uppercase;
    	text-decoration: none;
    	text-shadow: 0px 1px 1px black;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.text_centering {
		text-align: center;
	}

	.logo__word {
    	text-align: center;
	}

	.center_content {
		margin: 0 auto;
		max-width: 320px;
	}

	header {
		height: 520px;
	}

	.header__logo_position {
    	float: none;
    	margin-top: 70px;
	}

	.header__links_position {
		float: none;
		margin-top: 41px;
	}

	.site_navigation {
    	text-align: center;
	}

	.site_navigation li {
		margin-right: 0;
		float: none;
	}

	.slider_bg {
		margin-top: 120px;
		background: none;
		height: 217px;
	}

	.screen_font_size {
		font-size: 16px;
	}

	.slider__text_size {
		text-align: center;
		float: none;
		width: 100%;
	}

	.slider__text_size.vertical_centering {
		position: relative;
		transform: none;
		top: 0;
	}

	.slider__buttons_position {
    	transform: translate(50%, 0);
    	right: 50%;
	}

	.about_company_bg {
		height: 100%;
	}

	.about_company_bg .center_content {
		padding-top: 70px;
		padding-bottom: 67px;
	}

	.about_company_bg .col-sm-4 {
		padding-top: 27px;
		padding-bottom: 27px;
	}

	.about_company_bg .vertical_centering,
	.updates_bg .vertical_centering {
		top:0;
		transform: none;
	}

	.full_width {
		width: 100%;
	}

	.updates_bg {
		height: 100%;
	}

	.updates_bg .col-xs-6:first-child {
		margin-top: 70px;
	}

	.updates_bg .col-xs-6:last-child {
		margin-top: 50px;
		margin-bottom: 90px;
	}

	.logos_bg {
		height: 100%;
		position: relative;
		z-index: 2;
	}

	.logos span {
		margin-left: 54px;
	}

	.logos {
		width: 280px;
		transform: none;
		top: 0;
		left: 0;
		text-align: center;
	}

	.logos span {
		margin: 0px 35px;
	}

	.logos span:first-child {
		margin-left: 35px;
		margin-top: 55px;
		margin-bottom: 60px;
	}

	.logos span:nth-child(2) {
		margin-top: 55px;
		margin-bottom: 60px;
	}

	.logos span:nth-child(4) {
		position: relative;
		left: 15px;
	}
	
	.logos span:nth-child(5) {
		position: relative;
		right: 2px;
		margin: 45px 11px 70px 11px;
	}

	.logos span:nth-child(6) {
		margin: 45px 11px 70px 11px;
		position: relative;
		left: 35px;
	}

	.comments {
		height: 20px;
	    width: 100%;
	    position: relative;
	    bottom: 20px;
	    z-index: 1;	
	}

	footer {
		position: relative;
		bottom: 20px;
	}


	.design {
		float: none;
		top: -20px;
	}
}






