.questionnaire_header, button {
	font-weight: normal;
	text-align: center;
}

ol {
	margin-left: 100px;
}

.questions li {
	font-size: 18px;
	margin-bottom: 10px;
}

.questions li label:first-child {
	margin-top: 10px;
}

label {
	display: block;
	font-weight: normal;
}

input[type=checkbox] {
    display: none;
}

label span:before {
	content: "";
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #66ccff;
    border-radius: 3px;
    border: 1px solid black;
    margin-right: 5px;
}

input[type=checkbox]:checked + span:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

button[type=submit] {
	display: block;
	margin: 0 auto;
	background-color: #66ccff;
}