@include respond-to(mobile) {
  .how_it_works__picture_block {
    &:first-of-type {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url(../../img/dist/How_works_step1_img.jpg) no-repeat;
      background-size: 100% 100%;
    }
    &:nth-of-type(2) {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url(../../img/dist/How_works_step2_img.jpg) no-repeat;
      background-size: 100% 100%;
    }
    &:last-of-type {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url(../../img/dist/How_works_step3_img.jpg) no-repeat;
      background-size: 100% 100%;
    }
  }
}

@include respond-to(mobile-portrait) {
  .how_it_works__picture_block {
    margin: $how-it-works-section-picture-block-margins + 10px;
  }
}

@include respond-to(mobile-landscape) {
  .how_it_works__picture_block {
    margin: $how-it-works-section-picture-block-margins + 35px;
  }
}