.partners {
  text-align: center;
  margin-top: $partners-margin-top;
}

.partners__header {
  font-family: Montserrat;
  font-size: $partners-header-font-size;
  font-weight: bold;
}

.partner__view {
  margin-top: $partners-view-margin-top;
}

.partner__view_picture_block {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.partner__view_picture {
  @include border-radius(50%);
  display: block;
}

.partner__view_signature1 {
  font-family: Montserrat;
  font-weight: bold;
  margin-top: $partners-view-signature1-margin-top;
  font-size: $partners-view-signature1-font-size;
}

.partner__view_signature2 {
  font-family: Roboto;
  margin: $partners-view-signature2-margin;
  font-size: $partners-view-signature2-font-size;
  width: $partners-view-signature2-width;
  line-height: $partners-view-signature2-line-height;
}

.partner__view_icon {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: $partners-view-icon-background-size;
  height: $partners-view-icon-background-size;
  background: $partners-view-icon-background-color;
  @include border-radius(50%);

    &:after {
      display: block;
      content: '';
      margin: $partners-view-icon-position;
      width: $partners-view-icon-size;
      height: $partners-view-icon-size;
    }
}

.partner__view_icon--partner1 {
  &:after {
    background: url("../../img/src/icons/Partner1_icon.png") no-repeat;
  }
}

.partner__view_icon--partner2 {
  &:after {
    background: url("../../img/src/icons/Partner2_icon.png") no-repeat;
  }
}

.partner__view_icon--partner3 {
  &:after {
    background: url("../../img/src/icons/Partner3_icon.png") no-repeat;
  }
}

.partner__view_icon--partner4 {
  &:after {
    background: url("../../img/src/icons/Partner4_icon.png") no-repeat;
  }
}

.partners__search {
  font-family: Montserrat;
  font-weight: bold;
  margin: $partners-search-line-position;
  display: block;
  height: $partners-search-line-height;
  line-height: $partners-search-line-height;
  vertical-align: middle;
  color: $partners-search-line-color;
  border-radius: $partners-search-line-border-radius;
  border: $partners-search-line-border;

  &:hover {
    @include box-shadow($partners-search-line-hover-box-shadow);
  }
}
