/*HEADER TABLET*/
$header-register-padding: 30px;
$header-main-p2-padding-top: 100px;
$header-main-p2-font-size2: 35px;
$header-main-p2-font-line-height2: 45px;
$header-main-p4-font-size2: 13px;

$how-it-works-section-header-font-size2: 19px;
$how-it-works-section-picture-block-inner-margins: 0 10px 0 10px;
$how-it-works-section-picture-content-h5-font-size2: 7px;
$how-it-works-section-picture-content-h2-font-size2: 18px;
$how-it-works-section-picture-content-text-font-size2: 12px;
$how-it-works-section-picture-content-text-line-height2: 13px;
$how-it-works-section-picture-content-text-padding-left: 10px;
$partners-header-font-size2: 18px;
$partners-search-font-size2: 11px;


$discover-holiday-header-font-size2: 17px;