<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Questionaire</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<script type="text/html" id="test_template">
			<h3 class="questionnaire_header"><%= test_title %></h3>
			<form action="#">
				<ol class="questions">
					<% for (var i=0; i < questions.length; i++) { %>
						<li>
							<% var question = questions[i]; %>
							<%= question.question %>
							<% var answers = question.answers; %>
							<% for (var j = 0; j < answers.length; j++) { %>
								<label>
									<input type="checkbox">
									<span><%= answers[j] %></span>
								</label>
							<% } %>
						</li>
					<% } %>
				</ol>
				<button type="submit" class="btn btn-primary">
					Проверить результаты
				</button>
			</form>
		</script>
		<script src="js/lodash.js"></script>
		<script src="js/generator.js"></script>
	</body>
</html>