body {
	font-family: Tahoma;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.clearcontent:after {
	content: '.';
	visibility: hidden;
}

.bg {
	position: relative;
	background: linear-gradient(to bottom, rgba(18,138,167,0.95) 30px,rgba(62,195,209,0.95) 7%,rgba(12,115,160,1) 100%);
	z-index: 0;
}

.bg:after {
	content: '';
	position: absolute;
	display: block;
	top: 30px;
  	height: 134px;
	width: 100%;
	background-image: linear-gradient(#17cee2, white);
	z-index: 1;
}

.wrapper {
	z-index: 3;
	position: relative;
	background: white;
	width: 85%;
	height: 90%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
}

header {
	position: relative;
}

header .logo {
	position: relative;
	float: left;
	width: 283px;
    height: 164px;
}

header .logo img {
	width: 100%;
}

header .logo p {
	color: #128aa7;
	font-size: 0.9em;
	position: absolute;
	bottom: 53px;
	margin: 0 0 0 20%;
}

header .contacts {
	box-sizing: border-box;
	float: right;
	width: 375px;
	padding-right: 20px;
	height: 164px;
}

header .contacts .text {
	padding-top: 5px;
	float: right;
	width: 45%;
}

header .contacts p {
	color: #128aa7;
	font-size: 0.9em;
}

header .contacts p span {
	font-size: 1.1em;
}

header .contacts ul {
	position: absolute;
	width: 355px;
	bottom: 10px;
}

header .contacts ul li {
	box-sizing: border-box;
	float: left;
	width: 59px;
	font-size: 0.7em;
	text-align: center;
}

header .contacts ul a {
	text-decoration: underline;
	color: #71aec1;
}

header .contacts ul a:hover {
    text-decoration: none;
}

.main_image {
	width: 100%;
	border-bottom: 1px solid blue;
	border-top: 1px solid blue;
}

.content>ul {
	background: #333333;
	position: relative;
	display: table;
	height: 30px;
	line-height: 30px;
	width: 100%;
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
}

.content>ul>li {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

.content>ul>li>a {
	display: block;
	height: 100%;
	color: white;
	padding-right: 65px;
}

.content>ul>li:first-child>a{
	padding-left: 65px;
}

.content>ul>li>a.link_with_submenu:after {
	content: url('../img/triangle.png');
	position: relative;
	display: inline;
	padding-left: 8px;
	top: -1px;
}

ul.submenu  {
	display: none;
	position: absolute;
	border-top: 1px solid black;
	-webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.75);
}

.content>ul>li:hover>ul {
	position: absolute;
	top: 30px;
	background: #333333;
	display: block;
	width: 100%;
}

/*ul.submenu>li {
	display: block;
}*/

ul.submenu>li>a {
	display: block;
	color: white;
}

.colons {
	width: 100%;
	overflow: hidden;
	color: #424c43;
}

.colons>div {
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.colons h3 {
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.colons .article {
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.colons .leftColumn {
	width: 20%;
	float: left;
	background: #edeef0;
	margin-right: -1px;
	border-right: 1px solid #c7cacf;
}

.colons .centerColumn {
	width: 60%;
	float: left;
}

.colons .rightColumn {
	float: left;
	width: 20%;
	background: #edeef0;
	margin-left: -1px;
	border-left: 1px solid #c7cacf;
}

footer {
	margin:10px 0;
}

footer p {
	position: relative;
	clear: both;
	text-align: center;
	color: white;
}