body {
}

.bg {
	position: relative;
	background: green;
	z-index: -1;
}

.bg:after {
	z-index: 1;
	content: '';
	position: absolute;
	display: block;
	top: 20px;
  	height: 100px;
	width: 100%;
	background: red;
}

.wrapper {
	z-index: 3;
	position: relative;
	background: blue;
	width: 85%;
	height: 90%;
	margin: 0 auto;
}

footer p {
	position: relative;
	clear: both;
	text-align: center;
}