<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Testing template</title>
        <link rel="stylesheet" href="/css/test.css">
    </head>
    <body>
        Hello from Template <%= ID%> here
    </body>
</html>